*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.main-div{
    height: 100vh;
    width: 100vw;
}


#square{
    width: 800px;
    height:900px;
    background: #dbb5f5;
    border-radius:15px;
    position:absolute;
    border-radius:40px;
    transform:rotate(60deg);
    left:750px;
    top:-350px;
    overflow: hidden;
    /* overflow-x:hidden; */
    /* overflow-y: hidden; */
    z-index: -1;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    font-family: roboto;
}
.signin-btn{
    padding:5px 20px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(90deg, rgba(150,92,242,1) 29%, rgba(255,138,220,1) 100%);
}
.intro-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items:center;
}
/* .left-section{
    align-self: start;

} */
/* .imgs-div{
    align-self: start;
} */
img[alt="vector-img"]{
    position: absolute;
    transform: translate(50px,400px);
}
img[alt="vector-dot"]{
    position: absolute;
    transform: translate(110px,400px);
}
img[alt="intro-img"]{
    height: 600px;
    width: 650px;
    margin-right: 200px;
}
.left-section{
    display: flex;
    flex-direction: column;
    width: 30vw;
   margin-left: 200px;
    gap: 50px;
    font-family: roboto;
}
.left-section h1{
    font-size: 85px;
    color: #3e4794;
}
.left-section h4{
    font-weight:normal;
}
.learn-more-btn{
    width:200px;
    padding:10px 20px;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(150,92,242,1) 29%, rgba(255,138,220,1) 100%);
    color:white;
}